@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  padding: 20px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

ul.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 25px;
  color: #e5e7eb;
  font-size: 18px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.hero-text {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 height: 240px;
 width: 500px;
 box-sizing: border-box;
 padding: 10px;
 gap: 10px;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-sub-text {
  font-size: 18px;
  color: #e5e7eb;
}

button.hero-sign-up {
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 900;
  height: 38px;
  width: 132px;
  border-radius: 10px;
}

.hero-img {
  display: flex;
  color: white;
  background: grey;
  width: 500px;
  height: 240px; 
  justify-content: center;
  align-items: center;
}

/*second section*/

.img-wall {
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
  justify-content: center;
}
.wall-heading {

}

.img-series {

}

 /*third section*/
.quote-sec {
  height: 500px;
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
}
.quote-text {
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.credits {
  color: #1f2937;
  font-size: 25px;
  font-weight: 900;
  margin-left: auto;
}
